*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-image: url(./imagensparafundodashboard/RURAL-CAMPODESFOCADA.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;

}

.grafico1{
    background-color: rgba(255, 254, 254, 0.493);
    height: 30vh;
    width: 30vw;
   
}

.grafico2{
    background-color: rgba(255, 254, 254, 0.493);
    height: 30vh;
    width: 30vw;
   

}

.grafico3{
    background-color: rgba(255, 254, 254, 0.493);
    height: 30vh;
    width: 30vw;
}

.divgrafico{
    display: flex;
    height: 100vh;
    width: 100vw;
    gap: 10px;
    background-color: rgba(240, 248, 255, 0.245);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.box1 {
    text-align: center;
}


.header {
    background-color: whitesmoke; 
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    z-index: 10; 
    padding: 3px 0;
    border-radius: 60px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    display: flex;
    align-items: center;
    color: #25767a;
    font-size: 24px;
}

.header img {
    margin-right: 10px;
    width: 50px;
    height: auto;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #25767a;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffd900;
}
