body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #25767a;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container2 {
    display: flex;
    justify-content: space-between; /* Espaço entre os gráficos */
    align-items: flex-start; /* Alinha os elementos no início */
    width: 80%; /* Ajuste a largura conforme necessário */
}

.box1 {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 60%; /* Mais espaço para o gráfico principal */
    margin-right: 20px; /* Espaçamento entre o gráfico principal e a coluna à direita */
    padding: 10px; /* Espaçamento interno */
}

.box1 h1 {
    margin: 0;
    text-align: center;
    color: #25767a;
}

.box1 canvas {
    margin: 10px 0;
    width: 100%; /* Largura total do gráfico */
    height: 300px; /* Ajuste a altura conforme necessário */
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaço entre os gráficos */
    width: 30%; /* Largura da coluna à direita */
}

.box2, .box3 {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 5px 0; /* Espaço entre os gráficos na coluna à direita */
    padding: 10px; /* Espaçamento interno */
}

.box2 h1, .box3 h1 {
    margin: 0;
    text-align: center;
    color: #25767a;
}

.box2 canvas, .box3 canvas {
    margin: 10px 0;
    width: 100%; /* Largura total do gráfico */
    height: 200px; /* Ajuste a altura conforme necessário */
}

/*header da página*/
.header {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 10;
    padding: 3px 0;
    border-radius: 60px;
    margin-top: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    color: #25767a;
    font-size: 24px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.header img {
    margin-right: 10px;
    width: 50px;
    height: auto;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #25767a;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffd900;
}
