body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #25767a;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container2 {
    display: flex;
    justify-content: space-between; /* Espaço entre os gráficos */
    align-items: flex-start; /* Alinha os elementos no início */
    width: 80%; /* Ajuste a largura conforme necessário */
    padding: 20px;
}

.box1, .box2, .box3 {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s;
}

.box1:hover, .box2:hover, .box3:hover {
    transform: scale(1.03);
}

.box1 {
    width: 60%;
    margin-right: 20px;
    margin-top: 10px;
}

.box1 h1, .box2 h1, .box3 h1 {
    text-align: center;
    color: #25767a;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.box2, .box3 {
    margin: 10px 0;
}

/*header da página*/
.header {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 10;
    padding: 3px 0;
    border-radius: 60px;
    margin-top: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    color: #25767a;
    font-size: 24px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.header img {
    margin-right: 10px;
    width: 50px;
    height: auto;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #25767a;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffd900;
}
