@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh; 
}

/* Header */
.header {
  background-color: #3d6e60;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  color: white;
}

.menu-icon {
  display: none;
}

/* Conteúdo principal */
.main {
  height: 90vh;
  width: 82vw;
  overflow-y: auto;
  padding: 20px 20px;

}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
}

.main-cards {
  display: flex;
  gap: 25px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow-y: auto; 
  max-height: 125px;
  min-width: 200px;
}

.card:first-child {
  border-left: 7px solid #727272;
}

.card:nth-child(2) {
  border-left: 7px solid #54a700;
}

.card:nth-child(3) {
  border-left: 7px solid #246dec;
}

.card:nth-child(4) {
  border-left: 7px solid #f5b74f;
}

.card:nth-child(5) {
  border-left: 7px solid #8b2b2b;
}

.card > span {
  font-size: 20px;
  font-weight: 600;
}

.tanques-info {
  max-height: 50px;
  overflow-y: auto;
  padding: 0 !important;
  margin: 0 !important;
  border-spacing: 5px;
  text-align: center;
  border: 0;
}

.linha:hover {
  background-color: #c2d0cc;
  color: white;
  cursor: pointer;
  border-collapse: collapse;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-inner > p{
  font-size: 18px;
}

.card-inner > span {
  font-size: 20px;
  font-weight: bold;
}

.card-content > p{
  font-size: 18px;
}

.card-content > span {
  font-size: 20px;
  font-weight: bold;
}

/* Barra lateral */
#sidebar {
  background-color: whitesmoke;
  color: #3d6e60; 
  width: 18vw;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  font-weight: bold;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  transition: font-size 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: #c2d0cc;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.charts-card {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}


