* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.barra-lateral {
    width: 250px;
    background-color: #1a1a2e;
    color: white;
    padding: 30px;
    height: 100vh;
    position: relative; /* Necessário para o posicionamento absoluto dos links de suporte */
}

.barra-lateral .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 40px;
}

.barra-lateral nav ul {
    list-style: none;
}

.barra-lateral nav ul li {
    margin-bottom: 15px;
}

.barra-lateral nav ul li a {
    color: white;
    text-decoration: none;
}

.barra-lateral nav ul li a.active {
    font-weight: bold;
    color: #00aaff;
}

.suporte-area {
    margin-top: 100%;
}

.suporte-area a {
    display: flex; /* Garantir que os links fiquem um abaixo do outro */
    margin-top: 15px; /* Espaço entre os links */
    color: white;
    text-decoration: none;
}
